.container-custom {
    max-width: 500px;
}

.pizza-name {
    max-width: 150px;
}

.pizza-info {
    text-align: center;
}

.pizza-img {
    width: 100px;
    height: 80px;
}

.text-capitalize {
    text-transform: capitalize;
}

.d-flex-align {
    justify-content: center;
    align-items: center;
}

.d-block-price {
    margin-right: 0.5rem;
}

.mb-md-0-custom {
    margin-bottom: 0 !important;
}