.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
        url('../../assets/images/Header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}